Package: com.nv0xv.videoleappro
Name: videoleap pro
Version: 1.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: nv0xv
Author: nv0xv
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
